certifi==2019.6.16
chardet==3.0.4
Django==2.2.4
django-cas-ng==3.6.0
django-cors-headers==3.1.0
django-guardian==2.0.0
djangorestframework==3.10.2
djangorestframework-jwt==1.11.0
idna==2.8
lxml==4.4.1
mysqlclient==1.4.2
PyJWT==1.7.1
python-cas==1.4.0
pytz==2019.2
requests==2.22.0
six==1.12.0